.home-page {
    display: flex;
    padding-top: 150px;
  }
  
  .quotes {
    flex: 1; /* Take up remaining space */
    padding: 20px;
  }
  
  .quotes h1 {
    font-size: 50px;
    font-weight: bold;
    color: #111619;
    margin: 0 0 25px;
  }
  
  .quotes p {
    font-size: 20px;
    font-weight: semiBold;
    color: #667085;
    margin: 18px 0px 30px;
  }
  
  .image {
    padding: 20px;
  }
  
  .image img {
    max-width: 100%;
  }
  
  span{
    font: 16px "Poppins"; 
    font-weight: bold;
  }
  button {
    color: #fff;
    background-color: #E30613;
    border:  solid red;
    border-radius: 5px;
    padding: 4px 15px;
  }